h2 {
  color: hsla(11, 100%, 31%, 0.763);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
}
.animate-charcter {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  background-image: linear-gradient(
    -225deg,
    hsl(0, 100%, 31%),
    hwb(18 5% 7%),
    hsla(11, 100%, 31%, 0.415) 100%,
    hsl(11deg 100% 31.04%) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: flex;
  justify-content: center;
  font-size: 90px;
  text-align: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
p {
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.bilimContainer {
  padding: 30px;
  background-color: hsla(50, 63%, 66%, 0.896);
}
.textImageContainer {
  display: flex;
  padding: 30px;
}
.imgBilim-container {
  width: 30%;
  height: 30%;
  margin-right: 20px;
  border-radius: 30% 70% 58% 42% / 42% 27% 73% 58%;
  animation: randomShape 5s infinite ease-in-out;
  border: 3px solid hsl(11, 100%, 31%);
}
