* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0 auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 13vh;
  /*   background-color: #222; */
  position: fixed;
  width: 100%;
  transition: all 1000ms ease-in-out;
}

.scrolling__nav {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.logo {
  color: hsl(11deg 100% 31.04%);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 26px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 65%;
}
.nav-links a {
  color: #000000;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
}
.nav-links a:hover {
  color: hsl(11deg 100% 31.04%);
}
.nav-links li {
  list-style: none;
}
.burger {
  display: none;
}
.burger div {
  width: 28px;
  height: 4px;
  background-color: #ddd;
  margin: 5px;
  transition: all 300ms ease-in;
}

/* ----------------------------------------------------- */

.banner {
  background-image: url("https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?q=80&w=1896&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  bottom: 0;
}
.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
  text-shadow: 2px 2px 10px #000;
}
h1 {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 6px;
  line-height: 1;
}
.section1 {
  width: 75%;
  max-width: 900px;
  margin: 30px auto;
  font-size: 18px;
}
.section1 p {
  margin-top: 20px;
}

footer {
  background-color: #222;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
}

.nav-opacity {
  background-color: rgba(167, 161, 161, 0.9);
  border-radius: 1080px;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .nav-links {
    width: 78%;
  }

  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    .nav-links {
      position: absolute;
      right: 0px;
      height: 100vh;
      top: 0;
      background-color: rgb(255, 255, 255);
      flex-direction: column;
      align-items: center;
      width: 60%;
      transform: translateX(100%);
      transition: all 400ms ease-in-out;
      padding-top: 50px;
    }

    .nav-links li {
      opacity: 0;
    }
    .burger {
      display: block;
      cursor: pointer;
      background-color: hsl(11deg 100% 31.04%);
    }
  } /*  Media Query 768 End  */

  .nav-activ {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 8px);
    background-color: hsl(11deg 100% 31.04%);
  }

  .toggle .line2 {
    opacity: 0;
    background-color: hsl(11deg 100% 31.04%);
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -8px);
    background-color: hsl(11deg 100% 31.04%);
  }
}
