@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background: #f9f8f8;
  position: absolute;
  top: 8%;
  width: 100%;
  transform: translateY(-50%);
}
h1 {
  font-size: 8rem;
  color: #ffffff;
  font-family: 'Rubik Doodle Shadow', system-ui;
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 50;
}

.glitch-window {
  position: absolute;
  top: 0;
  z-index:4;
  left: -2px;
  width: 100%;
  text-shadow: 2px 0 #f9f8f8, -1px 0 yellow, -2px 0 green;
  overflow: hidden;;
}




@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

.clouds{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

   -moz-animation:move-background 35s linear infinite;
  -ms-animation:move-background 35s linear infinite;
  -o-animation:move-background 35s linear infinite;
  -webkit-animation:move-background 35s linear infinite;
  animation:move-background 35s linear infinite;
}
img{
  height: 15vh;
  width:15vh;
  position: absolute;
  z-index: 3;
  right: 40px;
}
